@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@600&family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
    
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x:  hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 40px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    
}



.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;


}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .4s;
    
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    height: 100vh;
    background: url('Pic/Cover1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding:0 10%;
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;


}


.home-content h3 {
    color: #00abf0;
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;

}


.home-content p {
    font-size: 16px;
    font-family: 'Noto Sans Thai Looped';
    margin: 10px 0 20px;
    position: relative;

}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
    
}



.higlight {
    color: skyblue;
    font-family: 'Noto Sans Thai Looped';
}

.home-content .btn-box {
    width: 345px;
    height: 50px;
    position: relative;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;

}

.btn-box a {
    position: relative;
    display: inline-flex;
    width: 200px;
    height: 100%;
    background: transparent;
    color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;


}


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;

}
.btn-box a:hover::before {
    width: 100%;
}

.btn-box a:nth-child(1):before {
    background: #00abf0;
}
.btn-box a:nth-child(1):hover {
    color: #081b29;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 95px;
    display: flex;
    justify-content: space-between;
    
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;

}
.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;

}

.home-sci a:hover:before {
    width: 100%;


}

.home-sci a:before {
    content: '';
    
}

.home-sci a:hover {
    color: #081b29;

}

.home-imghover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    

}

.home-imghover:hover {
    background: #081b29;
    opacity: .8;
}

.home-imghover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 110%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;

}
@keyframes showRight {
    100% {
        width: 0;

    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.preface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    font-size:5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.preface-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preface-img img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.preface-content h3 {
    font-family: 'Noto Sans Thai Looped';
    font-size: 20px;

}

.higlight2 {
    color: var(--main-color);
    font-size: 26px;
}

.preface-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.preface-content {
    text-align: center;
}

.preface-content p {
    font-size: 14px;
    font-family:  'Noto Sans Thai Looped';
    margin: 2rem 0 3rem;
}

.Com {
    font-family: 'Noto Sans Thai Looped';
    font-size: 20px;
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding:10rem 9% 2rem ;
}

.activity {
    background: var(--second-bg-color);
}

.activity h2 {
    margin-bottom: 4rem;
}

.activity-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.activity-container .activity-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;

}

.activity-box img{
    width: 100%;
    transition: .5s ease;
}

.activity-box:hover img {
    transform: scale(1.1);
}

.activity-box .activity-layer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
}

.description {
    font-family: 'Noto Sans Thai Looped';
}

.activity-box:hover .activity-layer {
    transform: translateY(0%);

}

.activity-layer h4 {
    font-size: 3rem;
}

.activity-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

section {
    min-height: 100vh;
    padding: 13rem 9% 2rem;
}

.certificate {
    background: var(--second-bg-color);
}

.certificate h2 {
    margin-bottom: 4rem;
}

.certificate-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.certificate-container .certificate-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;

}

.certificate-box img{
    width: 100%;
    transition: .5s ease;
}

.certificate-box:hover img {
    transform: scale(1.1);
}

.certificate-box .certificate-layer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
}

.certificate-box:hover .certificate-layer {
    transform: translateY(0%);

}

.certificate-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    font-family: 'Noto Sans Thai Looped';
}

section {
    min-height: 100vh;
    padding: 10rem 8% 2rem;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem ;
}

.contact .contact-column {
    flex: 1 1 15rem;
}

.contact-column .contact-box {
    border-left: .2rem solid var(--main-color);
}

.contact-box .contact-content {
    position: relative;
    padding-left: 2rem;
}

.contact-box .contact-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.contact-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;

}

.contact-content .content::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: var(--second-bg-color);
   z-index: -1;
   transition: .5s;
}

.contact-content .content:hover::before {
    width: 100%;
}

.contact-content .content .head {
    font-size: 3rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.contact-content .content .head i {
    padding-right: .5rem;
}

.contact-content .content h3{
    font-size: 2rem;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .5rem solid var(--main-color);
    border-radius: 20%;
    overflow: hidden;
}


/*BREAKPOINTS*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }
    selection {
        padding: 10rem 4% 2rem;
    }
    .home {
        padding: 0 4%;
    }
    .footer {
        padding: 2rem 4%;
    }
}


@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
        
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;

    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
        
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;

    }

    .home-imghover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }
    .home-sci a {
        width: 38px;
        height: 38px;

    }

}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        margin-top: 2rem;
    }
    
}

@media (max-width: 462px) {
    .home {
        justify-content: center;
    }
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1 {
        font-size: 5rem;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}